<div class="row mt-4">
	<div class="col-md-6 d-none d-md-block" style="height: 450px;">
		<div class="text-center col-md-12 my-auto side-heder">
			<h1>Cadastro de Usuário</h1>
			<img src="../../../../assets/registerImage.png" class="my-4" alt="" width="400px">
		</div>
	</div>

	<div class="col-md-6">

      <form class="p-2 m-3" [formGroup]="form">

 <!-- <p>Form value: {{form.value | json}}</p>
    <p>Form valid: {{form.status | json}}</p> -->

        <div class="pb-2 d-block d-md-none">
          <h3 class="border-bottom">Cadastro de Usuário</h3>
        </div>
        <div class="row">
          <div class="col-md-6 mb-3">
            <label>Primeiro Nome</label>
            <input type="text" class="form-control" formControlName="primeiroNome" [ngClass]="{'is-invalid': f.primeiroNome.errors && (f.primeiroNome.dirty || f.primeiroNome.touched)}" placeholder="Insira o Primeiro nome" />
            <div *ngIf="f.primeiroNome.errors?.required" class="invalid-feedback" >Campo Obrigatório</div>
          </div>
          <div class="col-md-6 mb-3">
            <label>Último nome</label>
            <input type="text" class="form-control" formControlName="ultimoNome" [ngClass]="{'is-invalid': f.ultimoNome.errors && (f.ultimoNome.dirty || f.ultimoNome.touched)}" placeholder="Insira o Último nome" />
            <div *ngIf="f.ultimoNome.errors?.required" class="invalid-feedback" >Campo Obrigatório</div>
          </div>
        </div>
        <div class="col-md-12 mb-3">
          <label for="">Email:</label>
          <input class="form-control" type="email" formControlName="email" [ngClass]="{'is-invalid': f.email.errors && (f.email.dirty || f.email.touched)}" placeholder="Insira seu e-mail" />
          <div *ngIf="f.email.errors?.required" class="invalid-feedback" >Campo Obrigatório</div>
          <div *ngIf="f.email.errors?.email" class="invalid-feedback" >E-mail inválido</div>
        </div>
        <div class="col-md-12 mb-3">
          <label for="">Usuario:</label>
          <input class="form-control" type="text" formControlName="usuario" [ngClass]="{'is-invalid': f.usuario.errors && (f.usuario.dirty || f.usuario.touched)}" placeholder="Insira o nome de Usuário" />
          <div *ngIf="f.usuario.errors?.required" class="invalid-feedback" >Campo Obrigatório</div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-3">
            <label for="">Senha:</label>
            <input class="form-control" type="password" formControlName="senha" [ngClass]="{'is-invalid': f.senha.errors && (f.senha.dirty || f.senha.touched)}" placeholder="Digite uma Senha" />
            <div *ngIf="f.senha.errors?.required" class="invalid-feedback" >Campo Obrigatório</div>
            <div *ngIf="f.senha.errors?.minlength" class="invalid-feedback" >Tamanho inválido</div>
          </div>
          <div class="col-sm-6 mb-3">
            <label for="">Confirmar Senha:</label>
            <input class="form-control" type="password" formControlName="confirmaSenha" [ngClass]="{'is-invalid': f.confirmaSenha.errors && (f.confirmaSenha.dirty || f.confirmaSenha.touched)}" placeholder="Confirme a Senha" />
            <div *ngIf="f.confirmaSenha.errors?.required" class="invalid-feedback" >Campo Obrigatório</div>
            <div *ngIf="f.confirmaSenha.errors?.mustMatch" class="invalid-feedback" >Senhas divergentes</div>
          </div>
        </div>
        <div class="row p-1 mb-3">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input me-2" id="customCheck1">
            <label class="custom-control-label">Eu concordo com os <a href="#">Termos de Uso</a>.</label>
          </div>
        </div>
        <div class="row">
          <div class="d-grid gap-2" style="text-align: center;">
            <button class="btn btn-lg btn-success btn-block px-5">
              Registar
            </button>
          </div>
        </div>
        <div class="row">
          <div class="col-12" style="text-align: center;">
            <a class="btn btn-link btn-block" routerLink="/user/login">
              Já sou Cadastrado
            </a>
          </div>
        </div>
      </form>

	</div>
</div>
